@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
   color: #fff;
   background-color: rgb(1, 22, 19);
}
.active
{
   background-image: linear-gradient(to top,#f9a8d4, #db2777);
   filter: contrast(80%);
}
.active:hover
{
   filter: contrast(80%) !important;
}

@media all and (max-width:968px) 
{

   .slider-mob
   {
      display: block;
      width: 10rem;
   }
   .button-container
   {
      justify-content: space-evenly;
      font-size: 13px;
   }
}
#root
{
   height: 100vh;
}